 <%= link_to "Back to all restaurants", restaurants_path %>

<h2>Restaurant Details</h2>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<br>
 <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
 <br>
 <h2>Reviews</h2>

<table>
  <thead>
    <tr>
      <th>Comments</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

