<h2>Restaurant Details</h2>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

 <%= link_to "Back to all restaurants", restaurants_path %>

